doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
    title v-con
    link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='/assets/fonts/ionicons.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(rel='stylesheet' href='/assets/css/Login-Form-Clean.css')
    link(rel='stylesheet' href='/assets/css/Navigation-Clean.css')
    link(rel='stylesheet' href='/assets/css/Navigation-with-Button.css')
    link(rel='stylesheet' href='/assets/css/Registration-Form-with-Photo-1.css')
    link(rel='stylesheet' href='/assets/css/Registration-Form-with-Photo.css')
    link(rel='stylesheet' href='/assets/css/styles.css')
  body
    .letter
      .jumbotron.bounce.animated
        h2.text-center
          strong Letter to Editor
        h5 Subject:
        input.form-control-sm.letter(type='text' style='width: 204px;')
        h5 Message
        textarea.letter(style='width: 202px;height: 54px;')
        .send-button
          button.btn.btn-primary.send-button(type='button') Send
    script(src='/assets/js/jquery.min.js')
    script(src='/assets/bootstrap/js/bootstrap.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js' crossorigin='anonymous')
    script(src='/assets/js/new-submission.js')
