html
  head
    title Reset Password
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
    link(rel='stylesheet' href='/assets/css/reset.css')
  body
    .container
      h1 Reset Password
      form.form
        input(type='password' placeholder='New Password' name='password' pattern='(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}' required)
        input(type='password' placeholder='Confirm Password' name='passwordrepeat' required)
        button(type='submit') Reset Password
    ul.bg-bubbles
      - let i = 0;
        while (i++ < 10)
                li
    script(src='/assets/js/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/sweetalert2@9')
    script(src='/assets/js/validation.js')
    script.
      $(function () {
        $('.form').on('submit', (e) => {
          e.preventDefault();
          $.ajax({
            type: 'post',
            url: '',
            data: $('.form').serialize(),
          })
          .done(() => {
            Swal.fire({
              icon: 'success',
              title: 'Password changed successfully'
            }).then(() => {
              location.href = '/';
            });
          })
          .fail(() => {
            Swal.fire({
              icon: 'error',
              title: 'Failed to change password',
              text: 'Try again later'
            }).then(() => {
              location.href = '/';
            });
          });
        });
      });
