html
  head
    title Error 403 - Forbidden
    link(rel='stylesheet' href='assets/css/forbidden.css')
  .maincontainer
    .bat
      img.wing.leftwing(src='assets/img/bat-wing.png')
      img.body(src='assets/img/bat-body.png' alt='bat')
      img.wing.rightwing(src='assets/img/bat-wing.png')
    .bat
      img.wing.leftwing(src='assets/img/bat-wing.png')
      img.body(src='assets/img/bat-body.png' alt='bat')
      img.wing.rightwing(src='assets/img/bat-wing.png')
    .bat
      img.wing.leftwing(src='assets/img/bat-wing.png')
      img.body(src='assets/img/bat-body.png' alt='bat')
      img.wing.rightwing(src='assets/img/bat-wing.png')
    img.foregroundimg(src='assets/img/HauntedHouseForeground.png' alt='haunted house')
  h1.errorcode ERROR 403
  .errortext This area is forbidden. Turn back now!
    a.btn-go-home(href='/')
      strong GO BACK HOME
