doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
    title v-con
    link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='assets/fonts/ionicons.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(rel='stylesheet' href='assets/css/Login-Form-Clean.css')
    link(rel='stylesheet' href='assets/css/Navigation-Clean.css')
    link(rel='stylesheet' href='assets/css/Navigation-with-Button.css')
    link(rel='stylesheet' href='assets/css/Registration-Form-with-Photo-1.css')
    link(rel='stylesheet' href='assets/css/Registration-Form-with-Photo.css')
    link(rel='stylesheet' href='assets/css/styles.css')
  body
    nav.navbar.navbar-light.navbar-expand-md.navigation-clean-button
      .container
        a.navbar-brand(href='#') VIT
        button.navbar-toggler(data-toggle='collapse' data-target='#navcol-1')
          span.sr-only Toggle navigation
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navcol-1
          ul.nav.navbar-nav.mr-auto
            li.nav-item(role='presentation')
              a.nav-link.active(href='#') First Item
            li.nav-item(role='presentation')
              a.nav-link(href='#') Second Item
            li.nav-item.dropdown
              a.dropdown-toggle.nav-link(data-toggle='dropdown' aria-expanded='false' href='#') Dropdown 
              .dropdown-menu(role='menu')
                a.dropdown-item(role='presentation' href='#') First Item
                a.dropdown-item(role='presentation' href='#') Second Item
                a.dropdown-item(role='presentation' href='#') Third Item
          span.navbar-text.actions
            a.login(href='/login') Log In
            a.btn.btn-light.action-button(role='button' href='/signup') Sign Up
    script(src='assets/js/jquery.min.js')
    script(src='assets/bootstrap/js/bootstrap.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js' crossorigin='anonymous')
    script(src='assets/js/new-submission.js')
